---
layout: archive
classes: wide
author_profile: true
---

<p style="text-align:justify;">
Hi! I am Nikita Koval and you are on my personal website.
I work as a researcher in the Kotlin team at JetBrains and getting PhD in the field of concurrency.
My primary research interests are concurrent data structures and algorithms, their verification, and practically applicable code analysis approaches.
Here you can find all the recent information about me and my projects.
Do not hesitate to drop me a line if you have an interesting topic to discuss.
</p>

<!-- <p style="text-align:justify;">
I am extremely happy to have being supervised by Dan Alistarh from IST Austria and Roman Elizarov from JetBrains, and very lucky to work with the folllowing people:
<ul>
<li>Maria Sokolova (intern, now developer @ JetBrains)</li>
<li>Alexander Fedorov (intern, now student @ HSE)</li>
<li>Dmitry Khalanskiy (intern, now developer @ JetBrains)</li>
<li>Alisa Koroleva (intern, now developer @ IFuture)</li>
<li>Vitaly Aksenov (now lecturer @ ITMO)</li>
</ul>
</p> -->

<hr/>


<p style="text-align:justify;">
<b>News:</b>
<ul>
<li> <b><i>2022-05-10:</i></b> <a href="https://hydraconf.com/">Hydra'22</a> will take place online this year, and I am excited to help the conference as a PC member.
     Additionally to that, I will give a short series on "Introduction to Concurrent Programming" 🎉
</li>
<li> <b><i>2021-12-02:</i></b> Our <a href="https://arxiv.org/abs/2109.00657">paper</a> on practical priority schedulers is accepted at PPoPP!
     In short, we took simple and scalable but inefficient Multi-Queue design, applied a bunch of
     industrial techniques with various tricks, and outperformed the state-of-the-art 💪
</li>
<li> <b><i>2021-11-23:</i></b> We published a <a href="https://arxiv.org/abs/2111.12682">pre-print</a> of our paper on <i>CancellableQueueSynchronizer</i>, an abstraction
     for building efficient fair and abortable synchronization primitives such as mutexes, semaphores, barriers, count-down-latches, and blocking pools.
</li>
<li> <b><i>2021-05-19:</i></b> Our work with Alexander Fedorov (JetBrains Research) and Dan Alistarh (IST Austria)
     on the first truly concurrent algorithm for the dynamic connectivity problem has been accepted at SPAA!
     The pre-print is available on <a href="https://arxiv.org/abs/2105.08098">arXiv</a>.
</li>
<li> <b><i>2021-02-24:</i></b> Some time ago, we finally released bounded model checking in Lincheck --
     a framework for testing concurrency on JVM. See a <a href="https://blog.jetbrains.com/kotlin/2021/02/how-we-test-concurrent-primitives-in-kotlin-coroutines/">blog post</a>
     for a short overview of how it and about Lincheck in general!
</li>
</ul>
</p>

<hr/>

<p style="text-align:justify;">
<b>I was delighted to supervise these extraordinary students:</b>
<ul>
<li>Anastasiia Postnikova (2021, BSc @ IMTO University)</li>
<li>Maksim Zuev (2021, BSc @ HSE University, now Researcher and Software Developer @ JetBrains)</li>
<li>Olga Lupuleac (2021, BSc @ HSE University, now Software Developer @ Databricks)</li>
<li>Alexander Gaev (2021, BSc @ HSE University, now Software Developer @ Amazon)</li>
<li>Alexander Fedorov (2020, BSc @ HSE University, now Researcher @ JetBrains)</li>
<li>Maria Sokolova (2019, BSc @ ITMO University, now Software Developer @ JetBrains)</li>
</ul>
</p>


<hr/>


<p style="text-align:justify;">
<b>I am also incredibly happy to had a chance to work with the following people who significantly influenced my career:</b>
<ul>
<li> Yury Kudryashov (technical lead @ Devexperts).
     Yury offered me the first job and showed me how good development processes and teamwork should be organized, which helps me a lot so far.
</li>
<li> Dmitry Tsitelov (head of dxLab @ Devexperts).
     Dmitry influenced me to move my attention from the industry to academia, which changed my career entirely.
     He supported me a lot when I worked at Devexperts and helped to start my research career.
</li>
<li> Roman Elizarov (former CTO @ Devexperts, now Kotlin team lead @ JetBrains). TODO.
</li>
<li> Dan Alistarh (Professor @ IST Austria). TODO.
</li>
</ul>
</p>

<!-- Show recent posts -->

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Blog Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->

<!-- Show all tags -->

{% capture site_tags %}{% for tag in site.tags %}{{ tag[1].size }}#{{ tag | first | downcase }}#{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_hashes = site_tags | split:',' | sort %}
