---
layout: archive
author_profile: true
---

<p>
Hi! I am Nikita Koval and you are on my  personal site and blog. Here you can find all recent information about me and my projects. If you have some interesting theme to discuss, do not hesitate to drop me a line. 
</p>

<!-- Show recent posts -->

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<!-- Show all tags -->

{% capture site_tags %}{% for tag in site.tags %}{{ tag[1].size }}#{{ tag | first | downcase }}#{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_hashes = site_tags | split:',' | sort %}

